@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #d4ebf2;
}

.btn {
    background-color: #00008b;
    border: 0;
    border-radius: 4px;
    padding: 15px 30px;
    margin: 0 10px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 3px 3px 4px rgba(0,0,0,.3);
}

.btn:hover {
    opacity: 0.9;
}

.btn:focus {
    outline: none; 
}